* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
}

main {
  display: block;
}

/*button {
	font-size: inherit;
	font-family: inherit;
	border: none;
	background: none;
	cursor: pointer;
}*/

table {
	border-collapse: collapse;
}

img {
	max-width: 100%;
	height: auto;
}

figure img {
	display: block;
}